@media print {
    @page {
        size: A4;
        width: 210mm;
        height: 297mm;
        margin-top: 12.7mm !important; 
        margin-bottom: 12.7mm !important;
        margin-left: 12.7mm !important; 
        margin-right: 12.7mm !important;
        /* page-break-inside:always !important; */
    }
    html,body{
        font-family: "Noto Sans KR",Arial, Helvetica, sans-serif;
        /* font-family: '넥슨Lv1고딕 OTF', sans-serif; */
    }
    .clearfix{
        display: block;
        clear: both;
        content: "";
    }
    .text-right{
        text-align: right !important;
    }
    .text-left{
        text-align: left !important;
    }
    .text-center{
        text-align: center !important;
    }
    .text-justify{    
        text-align-last: justify;
    }
    .text-justify-right{    
        text-align-last: right;
    }
    .underline{
        border-bottom: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .bordered-top{
        border-top: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .bordered-top2x{
        border-top: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .bordered-bot{
        border-bottom: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .bordered-bot2x{
        border-bottom: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .bordered-topbot{
        border-top: solid 1px rgb(83, 83, 83) !important;
        border-bottom: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-topbot2x{
        border-top: solid 2px rgb(83, 83, 83) !important;
        border-bottom: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-lr{
        border-right: solid 1px rgb(83, 83, 83) !important;
        border-left: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-lr2x{
        border-right: solid 2px rgb(83, 83, 83) !important;
        border-left: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    
    }
    .bordered-l{
        border-left: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-l2x{
        border-left: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-r{
        border-right: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-r2x{
        border-right: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered{
        border: solid 1px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-2x{
        border: solid 2px rgb(83, 83, 83) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .bordered-double{
        border-bottom: double rgb(83, 83, 83) !important;;
    }
    
    .bggray{
        /* background-color: rgb(231, 231, 231) !important; */
        background-color: rgb(184, 184, 184) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    } 
    .bggraylight{
        /* background-color: rgb(231, 231, 231) !important; */
        background-color: rgb(221, 221, 221) !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }    
    /* use text spacing: bold, light */
    .normal {
        letter-spacing: normal;
    }
    .em-wide {
        letter-spacing: 0.4em;
    }
    .em-wider {
        letter-spacing: 2.5em;
    }
    .em-wider3x {
        letter-spacing: 3.2em;
    }
    .em-tight {
        letter-spacing: -0.05em;
    }
    .wide-normal {
        letter-spacing: normal;
    }
    .wide-1px{
        letter-spacing: 1.5px;
    }
    .wide-3px {
        letter-spacing: 3px;
    }
    .wide-5px {
        letter-spacing: 5px;
    }
    .wide-10px {
        letter-spacing: 10px;
    }
    .wide-15px {
        letter-spacing: 15px;
    }
    .wide-25px {
        letter-spacing: 25px;
    }
    .wide-30px {
        letter-spacing: 30px;
    }
    .wide-35px {
        letter-spacing: 35px;
    }
    .wide-40px {
        letter-spacing: 40px;
    }
    .wide-45px {
        letter-spacing: 45px;
    }
    .wide-50px {
        letter-spacing: 50px;
    }
    .wide-55px {
        letter-spacing: 55px;
    }
    .wide-60px {
        letter-spacing: 60px;
    }
    .wide-65px {
        letter-spacing: 65px;
    }
    /* use text weight: bold, light */
    .bold{
        font-weight: 900 !important;
    }
    .lighter{
        font-weight: lighter !important;
    }
    
    .pull-right{
        right:0;
    }
    .pull-left{
        left:0;
    }
    
    .font-small{
        font-size: 7pt;
    }
    .font-medium{
        font-size: 10pt;
    }
    .font-large{
        font-size: 12pt;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .indent-5px{
        text-indent: 5px;
    }
    .indent-10px{
        text-indent: 10px;
    }
    .indent-15px{
        text-indent: 15px;
    }
    .indent-25px{
        text-indent: 25px;
    }
    .indent-35px{
        text-indent: 35px;
    }
    
    .docnote{
        margin-bottom: 5px;
    }
    .padding65{
        padding: 5px 65px;
    }
    .padding25{
        padding: 5px 25px;
    }
    .padding15{
        padding: 5px 15px;
    }
}
html,body{
    font-family: "Noto Sans KR",Arial, Helvetica, sans-serif;
    /* font-family: '넥슨Lv1고딕 OTF', sans-serif; */
}
.clearfix{
    display: block;
    clear: both;
    content: "";
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.text-justify{    
    text-align-last: justify;
}
.text-justify-right{    
    text-align-last: right;
}
.underline{
    border-bottom: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
}
.bordered-top{
    border-top: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
}
.bordered-top2x{
    border-top: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
}
.bordered-bot{
    border-bottom: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
}
.bordered-bot2x{
    border-bottom: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
}
.bordered-topbot{
    border-top: solid 1px rgb(83, 83, 83) !important;
    border-bottom: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-topbot2x{
    border-top: solid 2px rgb(83, 83, 83) !important;
    border-bottom: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-lr{
    border-right: solid 1px rgb(83, 83, 83) !important;
    border-left: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-lr2x{
    border-right: solid 2px rgb(83, 83, 83) !important;
    border-left: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

}
.bordered-l{
    border-left: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-l2x{
    border-left: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-r{
    border-right: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-r2x{
    border-right: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered{
    border: solid 1px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-2x{
    border: solid 2px rgb(83, 83, 83) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
.bordered-double{
    border-bottom: double rgb(83, 83, 83) !important;;
}

.bggray{
    /* background-color: rgb(231, 231, 231) !important; */
    background-color: rgb(184, 184, 184) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
} 
.bggraylight{
    /* background-color: rgb(231, 231, 231) !important; */
    background-color: rgb(221, 221, 221) !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}    
/* use text spacing: bold, light */
.normal {
    letter-spacing: normal;
}
.em-wide {
    letter-spacing: 0.4em;
}
.em-wider {
    letter-spacing: 2.5em;
}
.em-wider3x {
    letter-spacing: 3.2em;
}
.em-tight {
    letter-spacing: -0.05em;
}
.wide-normal {
    letter-spacing: normal;
}
.wide-1px{
    letter-spacing: 1.5px;
}
.wide-3px {
    letter-spacing: 3px;
}
.wide-5px {
    letter-spacing: 5px;
}
.wide-10px {
    letter-spacing: 10px;
}
.wide-15px {
    letter-spacing: 15px;
}
.wide-25px {
    letter-spacing: 25px;
}
.wide-30px {
    letter-spacing: 30px;
}
.wide-35px {
    letter-spacing: 35px;
}
.wide-40px {
    letter-spacing: 40px;
}
.wide-45px {
    letter-spacing: 45px;
}
.wide-50px {
    letter-spacing: 50px;
}
.wide-55px {
    letter-spacing: 55px;
}
.wide-60px {
    letter-spacing: 60px;
}
.wide-65px {
    letter-spacing: 65px;
}
/* use text weight: bold, light */
.bold{
    font-weight: 900 !important;
}
.lighter{
    font-weight: lighter !important;
}

.pull-right{
    right:0;
}
.pull-left{
    left:0;
}

.font-small{
    font-size: 7pt;
}
.font-medium{
    font-size: 10pt;
}
.font-large{
    font-size: 12pt;
}

.underline{
    text-decoration: underline;
}

.indent-5px{
    text-indent: 5px;
}
.indent-10px{
    text-indent: 10px;
}
.indent-15px{
    text-indent: 15px;
}
.indent-25px{
    text-indent: 25px;
}
.indent-35px{
    text-indent: 35px;
}

.docnote{
    margin-bottom: 5px;
}
.padding65{
    padding: 5px 65px;
}
.padding25{
    padding: 5px 25px;
}
.padding15{
    padding: 5px 15px;
}