
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
            margin: auto;
        }
        .table-cont{
            /* width: 100%; */
            width: 210mm;
            height: 297mm;
            margin-top: 0 !important;
            page-break-before:always !important;   
        }
        .title{
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .h2{
            margin-top: -15px;
            letter-spacing: 4px;
        }
        .pag1{
            border-bottom: solid 2px black;
        }
        .tabletop1label{            
            width: 100%;
            overflow: auto;
            margin: 5px auto 0;
        }
        .tabletop1label div{
            display: block;
            float: left;
            width: 30%;
            margin-bottom: 3px;
            margin-left: 2%;
        }
        .pag1{
            width: auto !important;
        }
        .pag2{
            margin-left: 5%;
            padding-left: 5%;
        }
        .pag3{
            text-align: right;
        }
        table{
            width: 100%;
            margin: auto;
            padding: 0 !important;
            border-collapse: collapse;       
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
        tbody tr, thead tr{
            border-bottom: solid 1px;
            border-top: solid 1px;
        }
        thead th{
            border-right: solid 1px rgb(83, 83, 83) !important;
            text-align: center !important;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
        tbody td{
            border: solid 1px rgb(83, 83, 83);
            padding: 5px;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
            font-size: 10pt;
        }
        .label{
            text-align: left;
            font-weight: bolder;
        }
    
        thead .tc1{
            width: 85%;
        }
        thead .tc2{
            width: 15%;
        }
    
        /* set 1 row */
        .set1 div{
            margin: auto;
        }
        .set1 .c1,.set1 .c3{
            width: 15%;
            word-wrap: break-word;
        }
        .set1 .c2,.set1 .c4{
            width: 35%;
            word-break: break-all;
        }
        
    
    
        /* set 2 row */
        .set2 div{
            margin: auto;
        }
        .set2 .c1,.set2 .c3,.set2 .c4{
            width: 20%;
            word-break: break-all;
        }
        .set2 .c2{
            width: 10%;
            word-break: break-all;
        }
        .set2 .c5{
            width: 30%;
            word-break: break-all;
        }
    
        
        /* set 3 row */    
        .set3 div{
            margin: auto;
        }
        .set3 .c1{
            width: 5%;
            word-break: break-all;
        }
        .set3 .c2,.set3 .c5,.set3 .c8{
            width: 10%;
            word-break: break-all;
        }
        .set3 .c3{        
            width: 15%;
            word-break: break-all;
        }
        .set3 .c4,.set3 .c6,.set3 .c6{
            width: 16.66%;
            word-break: break-all;
        }
    }

    html, body {
        width: 210mm;
        height: 297mm;
        margin: auto;
    }
    .table-cont{
        /* width: 100%; */
        width: 210mm;
        height: 297mm;
        margin-top: 0 !important;
        page-break-before:always !important;   
    }
    .title{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .h2{
        margin-top: -15px;
        letter-spacing: 4px;
    }
    .pag1{
        border-bottom: solid 2px black;
    }
    .tabletop1label{            
        width: 100%;
        overflow: auto;
        margin: 5px auto 0;
    }
    .tabletop1label div{
        display: block;
        float: left;
        width: 30%;
        margin-bottom: 3px;
        margin-left: 2%;
    }
    .pag1{
        width: auto !important;
    }
    .pag2{
        margin-left: 5%;
        padding-left: 5%;
    }
    .pag3{
        text-align: right;
    }
    table{
        width: 100%;
        margin: auto;
        padding: 0 !important;
        border-collapse: collapse;       
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    tbody tr, thead tr{
        border-bottom: solid 1px;
        border-top: solid 1px;
    }
    thead th{
        border-right: solid 1px rgb(83, 83, 83) !important;
        text-align: center !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    tbody td{
        border: solid 1px rgb(83, 83, 83);
        padding: 5px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        font-size: 10pt;
    }
    .label{
        text-align: left;
        font-weight: bolder;
    }

    thead .tc1{
        width: 85%;
    }
    thead .tc2{
        width: 15%;
    }

    /* set 1 row */
    .set1 div{
        margin: auto;
    }
    .set1 .c1,.set1 .c3{
        width: 15%;
        word-wrap: break-word;
    }
    .set1 .c2,.set1 .c4{
        width: 35%;
        word-break: break-all;
    }
    


    /* set 2 row */
    .set2 div{
        margin: auto;
    }
    .set2 .c1,.set2 .c3,.set2 .c4{
        width: 20%;
        word-break: break-all;
    }
    .set2 .c2{
        width: 10%;
        word-break: break-all;
    }
    .set2 .c5{
        width: 30%;
        word-break: break-all;
    }

    
    /* set 3 row */    
    .set3 div{
        margin: auto;
    }
    .set3 .c1{
        width: 5%;
        word-break: break-all;
    }
    .set3 .c2,.set3 .c5,.set3 .c8{
        width: 10%;
        word-break: break-all;
    }
    .set3 .c3{        
        width: 15%;
        word-break: break-all;
    }
    .set3 .c4,.set3 .c6,.set3 .c6{
        width: 16.66%;
        word-break: break-all;
    }
