    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
            margin: auto;
        }
        .table-cont{
            /* width: 100%; */
            width: 210mm;
            height: 297mm;
            margin-top: 0 !important;
            page-break-before:always !important;   
        }
        .title{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        .h1 h1{
            margin-top: 0;
        }
        .h2{
            margin-top: -15px;
        }
        .tabletop1label{            
            width: 100%;
            overflow: auto;
            margin: 0px auto 0;
        }
        .tabletop1label div{
            display: inline-block;
            width: 50%;
            margin-bottom: 3px;
            margin-left: 2%;
        }
        table{
            width: 100%;
            margin: auto;
            padding: 0 !important;
            border-collapse: collapse;
            font-size: 9pt;
        }
        thead th{
            text-align: center !important;
            padding: 0 5px;
        }
        tbody td{
            padding: 8px 5px;
        }
        tbody td:first-child,thead th:first-child{
            border-left: transparent !important;
        }
        tbody td:last-child,thead th:last-child{
            border-right: transparent !important;
        }
        .label{
            text-align: left;
            font-weight: bolder;
        }
        .trcontent td, .trcontent-head td{
            border:solid 1px rgb(83, 83, 83);
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    
        thead tr .theadlabel1-tr,
        thead tr .theadlabel1-tr td{
            border: 0 !important;
        }
        .theadlabel{
            display: block;
            width: 100%;
            margin-top: 0;
        }
        .label1{
            width: 150px;
            height: auto !important;
            padding: 0 !important;
            text-align: right;
            float: right;
        }
        .trcontent-head{
            font-weight: bolder;
        }
    
        /* set 1 row */
        .set1 div{
            margin: auto;
        }
        .set1 tbody{
            border-collapse: collapse;
        }
        .set1 .trcontent .c1{     
            border-left: transparent !important;
        }
        .set1 .trcontent .c4{   
            border-right: transparent !important;
        }
        .set1 .trcontent .c1,.set1 .trcontent .c3{
            width: 15%;
            word-wrap: break-word;        
        }
        
        .set1 .trcontent .c2,.set1 .trcontent .c4{
            width: 35%;
            word-wrap: break-word;
        }
    
        /* set 2 row */
        .set2 div{
            margin: auto;
        }
        
        .set2 .trcontent .c8, .set2 .trcontent-head .c8,
        .set2 .trcontent-head .c4span{
            border-right: transparent !important;
        }
        .set2 .trcontent .c1, .set2 .trcontent-head .c1{    
            border-left: transparent !important;
        }
        .set2 .c1{
            width: 20%;
            word-break: break-all;
        }
        .set2 .c2,.set2 .c3{        
            width: 12%;
            word-break: break-all;
        }
        .set2 .c4,.set2 .c5,.set2 .c6,.set2 .c7
        ,.set2 .c8{        
            width: 11.2%;
            word-break: break-all;
        }
        .set2 .trh1,.trh2{
            width: 100%;
            display: block;
        }
        .set2 .trh2 ul {
            width: auto;
            padding: 0;
            margin-left: -5px;
        }
        .set2 .trh2 ul li{
            list-style: none;
            float: left;
            width: 19.5% !important;
            margin: auto;
        }
        /* set 3 row */    
        .set3 div{
            margin: auto;
        }
        .set3 .trcontent-head div{
            height: auto;
        }
        .set3 .c1,.set3 .c4{
            width: 5%;
            word-break: break-all;
        }
        .set3 .c2,.set3 .c3{
            width: 15%;
            word-break: break-all;
        }
        .set3 .c5,.set3 .c6,
        .set3 .c7,.set3 .c8,
        .set3 .c9,.set3 .c10{        
            width: 10%;
            word-break: break-all;
        }
        .set3 .trfooter{
            border-bottom: solid 1px;
        }
        
        .set3 .trfooter .c1 div{
            width: 65px;
            margin-left: 91%;
            height: auto;
        }
    
        .set3 .trh1,.trh2{
            width: 100%;
            display: block;
            padding: 0;
        }
        .set3 .trh2 ul {
            width: auto;
            padding: 0;
            margin: 0;
            margin-left: -15px;
        }
        .set3 .trh2 ul li{
            list-style: none;
            float: left;
            width: 19.4% !important;
            text-align: right;
        }
        .notediv{
            border: solid 1px rgb(83, 83, 83);
            border-left: solid transparent;
            border-top: solid transparent;
            width: 150px;
            text-align: center;
            margin-left: 20px;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
            
        }
        .docnotefooter{
            text-align: right;
            padding-right: 20px;
            font-size: 10pt;
        }
    }

    html, body {
        width: 210mm;
        height: 297mm;
        margin: auto;
    }
    .table-cont{
        /* width: 100%; */
        width: 210mm;
        height: 297mm;
        margin-top: 0 !important;
        page-break-before:always !important;   
    }
    .title{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .h1 h1{
        margin-top: 0;
    }
    .h2{
        margin-top: -15px;
    }
    .tabletop1label{            
        width: 100%;
        overflow: auto;
        margin: 0px auto 0;
    }
    .tabletop1label div{
        display: inline-block;
        width: 50%;
        margin-bottom: 3px;
        margin-left: 2%;
    }
    table{
        width: 100%;
        margin: auto;
        padding: 0 !important;
        border-collapse: collapse;
        font-size: 9pt;
    }
    thead th{
        text-align: center !important;
        padding: 0 5px;
    }
    tbody td{
        padding: 8px 5px;
    }
    tbody td:first-child,thead th:first-child{
        border-left: transparent !important;
    }
    tbody td:last-child,thead th:last-child{
        border-right: transparent !important;
    }
    .label{
        text-align: left;
        font-weight: bolder;
    }
    .trcontent td, .trcontent-head td{
        border:solid 1px rgb(83, 83, 83);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    thead tr .theadlabel1-tr,
    thead tr .theadlabel1-tr td{
        border: 0 !important;
    }
    .theadlabel{
        display: block;
        width: 100%;
        margin-top: 0;
    }
    .label1{
        width: 150px;
        height: auto !important;
        padding: 0 !important;
        text-align: right;
        float: right;
    }
    .trcontent-head{
        font-weight: bolder;
    }

    /* set 1 row */
    .set1 div{
        margin: auto;
    }
    .set1 tbody{
        border-collapse: collapse;
    }
    .set1 .trcontent .c1{     
        border-left: transparent !important;
    }
    .set1 .trcontent .c4{   
        border-right: transparent !important;
    }
    .set1 .trcontent .c1,.set1 .trcontent .c3{
        width: 15%;
        word-wrap: break-word;        
    }
    
    .set1 .trcontent .c2,.set1 .trcontent .c4{
        width: 35%;
        word-wrap: break-word;
    }

    /* set 2 row */
    .set2 div{
        margin: auto;
    }
    
    .set2 .trcontent .c8, .set2 .trcontent-head .c8,
    .set2 .trcontent-head .c4span{
        border-right: transparent !important;
    }
    .set2 .trcontent .c1, .set2 .trcontent-head .c1{    
        border-left: transparent !important;
    }
    .set2 .c1{
        width: 20%;
        word-break: break-all;
    }
    .set2 .c2,.set2 .c3{        
        width: 12%;
        word-break: break-all;
    }
    .set2 .c4,.set2 .c5,.set2 .c6,.set2 .c7
    ,.set2 .c8{        
        width: 11.2%;
        word-break: break-all;
    }
    .set2 .trh1,.trh2{
        width: 100%;
        display: block;
    }
    .set2 .trh2 ul {
        width: auto;
        padding: 0;
        margin-left: -5px;
    }
    .set2 .trh2 ul li{
        list-style: none;
        float: left;
        width: 19.5% !important;
        margin: auto;
    }
    /* set 3 row */    
    .set3 div{
        margin: auto;
    }
    .set3 .trcontent-head div{
        height: auto;
    }
    .set3 .c1,.set3 .c4{
        width: 5%;
        word-break: break-all;
    }
    .set3 .c2,.set3 .c3{
        width: 15%;
        word-break: break-all;
    }
    .set3 .c5,.set3 .c6,
    .set3 .c7,.set3 .c8,
    .set3 .c9,.set3 .c10{        
        width: 10%;
        word-break: break-all;
    }
    .set3 .trfooter{
        border-bottom: solid 1px;
    }
    
    .set3 .trfooter .c1 div{
        width: 65px;
        margin-left: 91%;
        height: auto;
    }

    .set3 .trh1,.trh2{
        width: 100%;
        display: block;
        padding: 0;
    }
    .set3 .trh2 ul {
        width: auto;
        padding: 0;
        margin: 0;
        margin-left: -15px;
    }
    .set3 .trh2 ul li{
        list-style: none;
        float: left;
        width: 19.4% !important;
        text-align: right;
    }
    .notediv{
        border: solid 1px rgb(83, 83, 83);
        border-left: solid transparent;
        border-top: solid transparent;
        width: 150px;
        text-align: center;
        margin-left: 20px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        
    }
    .docnotefooter{
        text-align: right;
        padding-right: 20px;
        font-size: 10pt;
    }